@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ContactCard)Model.Content;
}

<div class="contact-card-content">
    <p class="contact-card-title">@content.ContactCardTitle</p>
    <p class="contact-card-desc">@content.ContactCardDesc</p>
    <div class="contact-card-input">
        <div class="form-group">
            <input type="email" placeholder="E-mail address" class="form-control form-italic" />
        </div>
    </div>
</div>