@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoProject.ViewModels
@{
    var content = (ContentModels.ContactCard)Model.Content;
    var formViewModel = new ContactCardViewModel();
}

<div class="contact-card-content">
    <p class="contact-card-title">@content.ContactCardTitle</p>
    <p class="contact-card-desc">@content.ContactCardDesc</p>
    <partial name="Partials/Forms/_ContactCardForm" model="formViewModel" />

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="contact-card-success">
            @TempData["SuccessMessage"]
        </div>
    }
    else if (TempData["ErrorMessage"] != null)
    {
        <div class="contact-card-error">
            @TempData["ErrorMessage"]
        </div>
    }
</div>

