@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.SuccessStorySection)Model.Content;
    var successStoriesList = content.SuccessStoriesList;
}

<section class="success-story-section">
    <div class="container">
        <div class="success-story">
            <div class="success-story-content">
                <p class="success-story-label">@content.SuccessStoryLabel</p>
                <p class="success-story-title">@content.SuccessStoryTitle</p>
            </div>
            <div class="success-story-list">
                @if (successStoriesList != null)
                {
                    foreach (var story in successStoriesList)
                    {
                        <div class="success-story-item">
                            <partial name="Partials/Blocklist/Components/SuccessStories" model="story" />
                        </div>
                    }
                }
            </div>
            <div class="success-story-image">
                @if (content.SuccessStoryBgImage != null)
                {
                    <img src="@content.SuccessStoryBgImage.Url()" alt="Success Story Background Image" />
                }
            </div>
        </div>
    </div>
</section>
