@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.TeamSection)Model.Content;
    var teamList = content.TeamMemberList;
}

<section id="team-section" class="team-section">
    <div class="container team-section-content">
        <div class="team-section-details">
            <h2 class="team-section-label">@content.TeamLabel</h2>
            <div class="rte team-section-title">@Html.Raw(content.TeamTitle)</div>
        </div>
        <div class="team-section-member-list">
            @if (teamList != null)
            {
                for (var i = 0; i < teamList.Count; i++)
                {
                    var member = teamList[i];
                    var colClass = i < 3 ? "team-col-3" : "team-col-4";

                    <div class="@colClass">
                        <partial name="Partials/Blocklist/Components/TeamMember" model="member" />
                    </div>
                }
            }
        </div>
    </div>
</section>

