<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fced72da-5ec0-4a18-89ae-3f4e59ce4cbb" Alias="About Callback Settings - Callback Request Options - Multiple Text String Property Editor UI" Level="1">
  <Info>
    <Name>About Callback Settings - Callback Request Options - Multiple Text String Property Editor UI</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 1
}]]></Config>
</DataType>