<?xml version="1.0" encoding="utf-8"?>
<DataType Key="803daa55-c6d9-4be8-9519-99b771103724" Alias="Onatrix - Sections" Level="1">
  <Info>
    <Name>Onatrix - Sections</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "adaa74dd-6521-4684-8747-fcfef5139bcf"
    },
    {
      "contentElementTypeKey": "713539c0-a266-4039-b1e4-98ddd0a310c2",
      "settingsElementTypeKey": "16048456-d635-4481-b8af-003ab2178096"
    },
    {
      "contentElementTypeKey": "0651f7da-0714-4bfd-ac83-953f43e3e7e1"
    },
    {
      "contentElementTypeKey": "423ad7f5-ca64-4c1f-b73a-21d564c2a820",
      "settingsElementTypeKey": "a5e52a52-49a2-41e4-8b7b-89d19f9a78c1"
    },
    {
      "contentElementTypeKey": "6d4a929c-614d-488f-ba05-d5e3e9e87750"
    },
    {
      "contentElementTypeKey": "0c3e6006-579b-40bf-bce7-ed5803cd9bff"
    },
    {
      "contentElementTypeKey": "91c8b0c5-8af8-4f28-9109-77f4d7c533e2"
    },
    {
      "contentElementTypeKey": "3cf75ec2-233d-4450-803f-0a5d94ff2575",
      "settingsElementTypeKey": "891543df-527f-4953-8650-f5e56d9806be"
    },
    {
      "contentElementTypeKey": "e8d91e4c-7c0b-49d3-8ec5-4a8b8bee51d1"
    },
    {
      "contentElementTypeKey": "c076d6ca-2fe4-40f4-afb7-baab5c6f4506",
      "settingsElementTypeKey": "ed7bcd56-bb24-478c-b1b5-d209d5792d35"
    },
    {
      "contentElementTypeKey": "7e2efae7-edb5-4156-813e-d6f0cb66096e",
      "settingsElementTypeKey": "6b786d14-63f1-4733-9380-f5295e0017b3"
    },
    {
      "contentElementTypeKey": "c4cab4a5-c207-448d-aae4-60fbaeae2ce6"
    }
  ]
}]]></Config>
</DataType>