<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ce3ecf14-93dc-4168-b136-d3a4e5cd4d8f" Alias="Partners List" Level="1">
  <Info>
    <Name>Partners List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ac5d4a13-b21d-44cf-8dd0-b51e944e2c8a",
      "label": "{umbValue:partnersAltName}"
    }
  ]
}]]></Config>
</DataType>