<?xml version="1.0" encoding="utf-8"?>
<DataType Key="34365654-4099-4ecb-b773-8be3ca0ecb4a" Alias="Service Detail - Contact Card Aside - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Detail - Contact Card Aside - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "9af356bf-7b34-47f5-9b6c-3e354d14c93a"
    }
  ]
}]]></Config>
</DataType>