<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f1c72d9d-1ea6-4c4f-a596-24df5c6507c2" Alias="Service Detail Asides - List" Level="1">
  <Info>
    <Name>Service Detail Asides - List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "862e3609-31fa-43d7-965d-5ec5c4b36623"
    }
  ]
}]]></Config>
</DataType>