<?xml version="1.0" encoding="utf-8"?>
<DataType Key="675bcbc6-2e95-41a9-8658-490a77ffaaad" Alias="Service Settings - Service BgColor - Color Picker Property Editor UI" Level="1">
  <Info>
    <Name>Service Settings - Service BgColor - Color Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "FFFFFF",
      "label": "White"
    },
    {
      "value": "F7F7F7",
      "label": "White-100"
    }
  ],
  "useLabel": true
}]]></Config>
</DataType>