<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cf4ad5e3-7970-4590-9f9a-69864125fcf5" Alias="Site Settings - Platform List" Level="1">
  <Info>
    <Name>Site Settings - Platform List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "b725d49e-77e7-4e50-bdc4-ffbd59e5376d",
      "label": "{umbValue:platformName}"
    }
  ]
}]]></Config>
</DataType>