<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4f130a45-0b76-4619-9427-703d60739c9c" Alias="Success Stories List" Level="1">
  <Info>
    <Name>Success Stories List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "16771492-eccd-4a9b-a6be-527f85c0d319",
      "label": "{umbValue:successStoriesUnits}"
    }
  ]
}]]></Config>
</DataType>