<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c2fd7830-979f-48ad-bc43-60b2a2e25a98" Alias="Team Member List" Level="1">
  <Info>
    <Name>Team Member List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "8cd0b100-4fa1-4dc2-84a6-e70490d2609f",
      "label": "{umbValue:teamMemberName}"
    }
  ]
}]]></Config>
</DataType>