<?xml version="1.0" encoding="utf-8"?>
<Content Key="cfd7378d-2eb3-4ae2-a2f9-0909c39085f4" Alias="CallBackForm: Erdem Kaya - 2025-11-10 19:45:09" Level="2">
  <Info>
    <Parent Key="cfadc795-1f85-45be-85b6-4c53e4eb31fc">Form Submissions</Parent>
    <Path>/FormSubmissions/CallBackFormErdemKaya20251110194509</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T19:45:09</CreateDate>
    <NodeName Default="CallBackForm: Erdem Kaya - 2025-11-10 19:45:09" />
    <SortOrder>12</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[kerdem@live.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Erdem Kaya]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0733004292]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>