<?xml version="1.0" encoding="utf-8"?>
<Content Key="e96d125c-228f-4a1f-8384-5b9f0e082da4" Alias="CallBackForm: Erdem Kaya - 2025-11-10 20:27:58" Level="2">
  <Info>
    <Parent Key="cfadc795-1f85-45be-85b6-4c53e4eb31fc">Form Submissions</Parent>
    <Path>/FormSubmissions/CallBackFormErdemKaya20251110202758</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T20:27:58</CreateDate>
    <NodeName Default="CallBackForm: Erdem Kaya - 2025-11-10 20:27:58" />
    <SortOrder>20</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[kerdem@live.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Erdem Kaya]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0733004292]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>