<?xml version="1.0" encoding="utf-8"?>
<Content Key="8426268a-4a94-4c46-85ad-2143ce6233c9" Alias="CallBackForm: Erdem Kaya - 2025-11-10 20:38:41" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/CallBackFormErdemKaya20251110203841</Path>
    <Trashed Parent="cfadc795-1f85-45be-85b6-4c53e4eb31fc">true</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T20:38:41</CreateDate>
    <NodeName Default="CallBackForm: Erdem Kaya - 2025-11-10 20:38:41" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[erdem.kaya@utb.ecutbildning.se]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Erdem Kaya]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0733004292]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>