<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a0bed2f-4118-4515-8c6e-40eed8ee6c37" Alias="CallBackForm: Erdem Kaya - 2025-11-10 19:51:12" Level="2">
  <Info>
    <Parent Key="cfadc795-1f85-45be-85b6-4c53e4eb31fc">Form Submissions</Parent>
    <Path>/FormSubmissions/CallBackFormErdemKaya20251110195112</Path>
    <Trashed>false</Trashed>
    <ContentType>callbackRequest</ContentType>
    <CreateDate>2025-11-10T19:51:12</CreateDate>
    <NodeName Default="CallBackForm: Erdem Kaya - 2025-11-10 19:51:12" />
    <SortOrder>13</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <callbackRequestEmail>
      <Value><![CDATA[kerdem@live.com]]></Value>
    </callbackRequestEmail>
    <callbackRequestName>
      <Value><![CDATA[Erdem Kaya]]></Value>
    </callbackRequestName>
    <callbackRequestOption>
      <Value><![CDATA[Business]]></Value>
    </callbackRequestOption>
    <callbackRequestPhone>
      <Value><![CDATA[0733004292]]></Value>
    </callbackRequestPhone>
  </Properties>
</Content>