<?xml version="1.0" encoding="utf-8"?>
<Content Key="ae2d6740-af73-4963-addb-ed8b05f29a27" Alias="ContactForm: Erdem Kaya - 2025-11-10 20:33:37" Level="2">
  <Info>
    <Parent Key="cfadc795-1f85-45be-85b6-4c53e4eb31fc">Form Submissions</Parent>
    <Path>/FormSubmissions/ContactFormErdemKaya20251110203337</Path>
    <Trashed>false</Trashed>
    <ContentType>contactRequest</ContentType>
    <CreateDate>2025-11-10T20:33:37</CreateDate>
    <NodeName Default="ContactForm: Erdem Kaya - 2025-11-10 20:33:37" />
    <SortOrder>23</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactRequestEmail>
      <Value><![CDATA[kerdem@live.com]]></Value>
    </contactRequestEmail>
    <contactRequestName>
      <Value><![CDATA[Erdem Kaya]]></Value>
    </contactRequestName>
    <contactRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </contactRequestOption>
    <contactRequestPhone>
      <Value><![CDATA[0733004292]]></Value>
    </contactRequestPhone>
  </Properties>
</Content>