<?xml version="1.0" encoding="utf-8"?>
<Content Key="0afb204f-9070-4de5-9815-eb7b651c8365" Alias="ContactForm: Erdem Kaya Contact Form - 2025-11-10 20:06:26" Level="2">
  <Info>
    <Parent Key="cfadc795-1f85-45be-85b6-4c53e4eb31fc">Form Submissions</Parent>
    <Path>/FormSubmissions/ContactFormErdemKayaContactForm20251110200626</Path>
    <Trashed>false</Trashed>
    <ContentType>contactRequest</ContentType>
    <CreateDate>2025-11-10T20:06:26</CreateDate>
    <NodeName Default="ContactForm: Erdem Kaya Contact Form - 2025-11-10 20:06:26" />
    <SortOrder>17</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactRequestEmail>
      <Value><![CDATA[kerdem@live.com]]></Value>
    </contactRequestEmail>
    <contactRequestName>
      <Value><![CDATA[Erdem Kaya Contact Form]]></Value>
    </contactRequestName>
    <contactRequestOption>
      <Value><![CDATA[Business]]></Value>
    </contactRequestOption>
    <contactRequestPhone>
      <Value><![CDATA[0733004292]]></Value>
    </contactRequestPhone>
  </Properties>
</Content>