<?xml version="1.0" encoding="utf-8"?>
<Content Key="eca4b6f9-3e2b-4135-b5ac-2b5e0603808c" Alias="ContactCardEmail: kerdem@live.com - 2025-11-05 13:27:09" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ContactCardEmailKerdemLivecom20251105132709</Path>
    <Trashed Parent="cfadc795-1f85-45be-85b6-4c53e4eb31fc">true</Trashed>
    <ContentType>contactCardRequest</ContentType>
    <CreateDate>2025-11-05T13:27:09</CreateDate>
    <NodeName Default="ContactCardEmail: kerdem@live.com - 2025-11-05 13:27:09" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactCardEmailRequest>
      <Value><![CDATA[kerdem@live.com]]></Value>
    </contactCardEmailRequest>
  </Properties>
</Content>