<?xml version="1.0" encoding="utf-8"?>
<Content Key="77f3629e-58b4-483c-aa39-ee1bd8e17654" Alias="ContactForm: Erdem Kaya - 2025-11-10 19:51:31" Level="2">
  <Info>
    <Parent Key="cfadc795-1f85-45be-85b6-4c53e4eb31fc">Form Submissions</Parent>
    <Path>/FormSubmissions/ContactFormErdemKaya20251110195131</Path>
    <Trashed>false</Trashed>
    <ContentType>contactRequest</ContentType>
    <CreateDate>2025-11-10T19:51:31</CreateDate>
    <NodeName Default="ContactForm: Erdem Kaya - 2025-11-10 19:51:31" />
    <SortOrder>14</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactRequestEmail>
      <Value><![CDATA[kerdem@live.com]]></Value>
    </contactRequestEmail>
    <contactRequestName>
      <Value><![CDATA[Erdem Kaya]]></Value>
    </contactRequestName>
    <contactRequestOption>
      <Value><![CDATA[Business]]></Value>
    </contactRequestOption>
    <contactRequestPhone>
      <Value><![CDATA[0733004292]]></Value>
    </contactRequestPhone>
  </Properties>
</Content>