<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e59fb2d-6282-4584-8e66-49b428d73149" Alias="ContactCardEmail: kerdem@live.com - 2025-11-10 20:31:14" Level="2">
  <Info>
    <Parent Key="cfadc795-1f85-45be-85b6-4c53e4eb31fc">Form Submissions</Parent>
    <Path>/FormSubmissions/ContactCardEmailKerdemLivecom20251110203114</Path>
    <Trashed>false</Trashed>
    <ContentType>contactCardRequest</ContentType>
    <CreateDate>2025-11-10T20:31:14</CreateDate>
    <NodeName Default="ContactCardEmail: kerdem@live.com - 2025-11-10 20:31:14" />
    <SortOrder>21</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactCardEmailRequest>
      <Value><![CDATA[kerdem@live.com]]></Value>
    </contactCardEmailRequest>
  </Properties>
</Content>