<?xml version="1.0" encoding="utf-8"?>
<Content Key="a7a82acf-279e-4870-839d-e4550b8d2735" Alias="ContactForm: Contact Form Test - 2025-11-10 20:10:08" Level="2">
  <Info>
    <Parent Key="cfadc795-1f85-45be-85b6-4c53e4eb31fc">Form Submissions</Parent>
    <Path>/FormSubmissions/ContactFormContactFormTest20251110201008</Path>
    <Trashed>false</Trashed>
    <ContentType>contactRequest</ContentType>
    <CreateDate>2025-11-10T20:10:08</CreateDate>
    <NodeName Default="ContactForm: Contact Form Test - 2025-11-10 20:10:08" />
    <SortOrder>18</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactRequestEmail>
      <Value><![CDATA[kerdem@live.com]]></Value>
    </contactRequestEmail>
    <contactRequestName>
      <Value><![CDATA[Contact Form Test]]></Value>
    </contactRequestName>
    <contactRequestOption>
      <Value><![CDATA[Business]]></Value>
    </contactRequestOption>
    <contactRequestPhone>
      <Value><![CDATA[0733004292]]></Value>
    </contactRequestPhone>
  </Properties>
</Content>