<?xml version="1.0" encoding="utf-8"?>
<Content Key="c719f26b-f6b4-49da-8841-32ca148fe4fd" Alias="ContactForm: Erdem Kaya - 2025-11-10 20:37:15" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ContactFormErdemKaya20251110203715</Path>
    <Trashed Parent="cfadc795-1f85-45be-85b6-4c53e4eb31fc">true</Trashed>
    <ContentType>contactRequest</ContentType>
    <CreateDate>2025-11-10T20:37:16</CreateDate>
    <NodeName Default="ContactForm: Erdem Kaya - 2025-11-10 20:37:15" />
    <SortOrder>9</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactRequestEmail>
      <Value><![CDATA[kerdem@live.com]]></Value>
    </contactRequestEmail>
    <contactRequestName>
      <Value><![CDATA[Erdem Kaya]]></Value>
    </contactRequestName>
    <contactRequestOption>
      <Value><![CDATA[Financial consulting]]></Value>
    </contactRequestOption>
    <contactRequestPhone>
      <Value><![CDATA[0733004292]]></Value>
    </contactRequestPhone>
  </Properties>
</Content>