<?xml version="1.0" encoding="utf-8"?>
<Content Key="ccaf908d-07ba-4e29-82c7-a059fdd633fd" Alias="ContactForm: Erdem Kaya - 2025-11-04 08:49:40" Level="2">
  <Info>
    <Parent Key="cfadc795-1f85-45be-85b6-4c53e4eb31fc">Form Submissions</Parent>
    <Path>/FormSubmissions/ContactFormErdemKaya20251104084940</Path>
    <Trashed>false</Trashed>
    <ContentType>contactRequest</ContentType>
    <CreateDate>2025-11-04T08:49:40</CreateDate>
    <NodeName Default="ContactForm: Erdem Kaya - 2025-11-04 08:49:40" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactRequestEmail>
      <Value><![CDATA[erdem.kaya@utb.ecutbildning.se]]></Value>
    </contactRequestEmail>
    <contactRequestName>
      <Value><![CDATA[Erdem Kaya]]></Value>
    </contactRequestName>
    <contactRequestOption>
      <Value><![CDATA[Business]]></Value>
    </contactRequestOption>
    <contactRequestPhone>
      <Value><![CDATA[0733004292]]></Value>
    </contactRequestPhone>
  </Properties>
</Content>