<?xml version="1.0" encoding="utf-8"?>
<Content Key="138fc6f4-23d2-4af2-b792-0332c017c8ff" Alias="ContactCardEmail: erdem.kaya@utb.ecutbildning.se - 2025-11-05 13:04:06" Level="2">
  <Info>
    <Parent Key="cfadc795-1f85-45be-85b6-4c53e4eb31fc">Form Submissions</Parent>
    <Path>/FormSubmissions/ContactCardEmailErdemkayaUtbecutbildningse20251105130406</Path>
    <Trashed>false</Trashed>
    <ContentType>contactCardRequest</ContentType>
    <CreateDate>2025-11-05T13:04:06</CreateDate>
    <NodeName Default="ContactCardEmail: erdem.kaya@utb.ecutbildning.se - 2025-11-05 13:04:06" />
    <SortOrder>8</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactCardEmailRequest>
      <Value><![CDATA[erdem.kaya@utb.ecutbildning.se]]></Value>
    </contactCardEmailRequest>
  </Properties>
</Content>