<?xml version="1.0" encoding="utf-8"?>
<Content Key="70550828-7c6b-4f49-815c-0701a1a3bc5f" Alias="Contact" Level="2">
  <Info>
    <Parent Key="58424188-14a0-4997-a12b-624e98d6a24b">Home Page</Parent>
    <Path>/HomePage/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2025-10-29T12:38:26</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1c4306cb-1a60-48e9-82c8-99f7194287c5">ContactPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3cf75ec2-233d-4450-803f-0a5d94ff2575",
      "key": "4c9563dc-3d38-4bdc-80a6-194ca87df1e9",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactInfoBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "10aec24e-6a2e-4002-b21c-293bf4930419",
              "mediaKey": "bafb1d2d-a942-4eda-99c2-e0dd7ea90d7a",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "91c8b0c5-8af8-4f28-9109-77f4d7c533e2",
      "key": "ba520a7e-4b0b-4e86-9eec-283b9f777b11",
      "udi": null,
      "values": [
        {
          "alias": "partnersList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ac5d4a13-b21d-44cf-8dd0-b51e944e2c8a",
                "key": "db2d3310-aa4a-412f-a136-4ed0b45f500d",
                "udi": null,
                "values": [
                  {
                    "alias": "partnersImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "367c987c-6cee-41e2-8ed4-e1682ac563bc",
                        "mediaKey": "3ee69632-ccf6-4456-bb18-621748a05df8",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnersAltName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Freedombird"
                  }
                ]
              },
              {
                "contentTypeKey": "ac5d4a13-b21d-44cf-8dd0-b51e944e2c8a",
                "key": "cb4cfb9a-d6f5-459c-8f32-245a3c0d8cdd",
                "udi": null,
                "values": [
                  {
                    "alias": "partnersImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ab667dd7-84a3-49bc-99ce-5753b6292eab",
                        "mediaKey": "40d69e71-0e89-4211-9e87-312b2567a497",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnersAltName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  }
                ]
              },
              {
                "contentTypeKey": "ac5d4a13-b21d-44cf-8dd0-b51e944e2c8a",
                "key": "2b9d832c-84d3-460c-bd69-bf627fe14780",
                "udi": null,
                "values": [
                  {
                    "alias": "partnersImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "2bbc40e9-97ab-4b9b-a22d-cd3c11f4888c",
                        "mediaKey": "0ce18238-49d2-4e5e-a62a-43f860a023ef",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnersAltName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  }
                ]
              },
              {
                "contentTypeKey": "ac5d4a13-b21d-44cf-8dd0-b51e944e2c8a",
                "key": "864eb71c-1155-4466-baa7-fa4ae56368bb",
                "udi": null,
                "values": [
                  {
                    "alias": "partnersImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "904a8c3a-ad9d-4c14-898a-cb5bee10910d",
                        "mediaKey": "eab59080-4f16-4a8e-a579-43c8dd79fe89",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnersAltName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simpleaf"
                  }
                ]
              },
              {
                "contentTypeKey": "ac5d4a13-b21d-44cf-8dd0-b51e944e2c8a",
                "key": "5eb0709d-b2a1-4d9e-9a4f-c307ffea1c42",
                "udi": null,
                "values": [
                  {
                    "alias": "partnersImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "462189c2-8700-4bfb-a11b-4529b4f79d43",
                        "mediaKey": "d749b269-c98a-47f2-a012-ee5a24af5cbd",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnersAltName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  }
                ]
              },
              {
                "contentTypeKey": "ac5d4a13-b21d-44cf-8dd0-b51e944e2c8a",
                "key": "920c6e49-5968-4ba4-869f-0195ed6d272e",
                "udi": null,
                "values": [
                  {
                    "alias": "partnersImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "e0d41a51-05b5-4410-ade2-76960d8a1bf8",
                        "mediaKey": "80b196d0-7ab0-4de2-b1bb-5e9e5937621a",
                        "mediaTypeAlias": "umbracoMediaVectorGraphics",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnersAltName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FossilGroup"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "db2d3310-aa4a-412f-a136-4ed0b45f500d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "cb4cfb9a-d6f5-459c-8f32-245a3c0d8cdd",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "2b9d832c-84d3-460c-bd69-bf627fe14780",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "864eb71c-1155-4466-baa7-fa4ae56368bb",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5eb0709d-b2a1-4d9e-9a4f-c307ffea1c42",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "920c6e49-5968-4ba4-869f-0195ed6d272e",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "db2d3310-aa4a-412f-a136-4ed0b45f500d",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "cb4cfb9a-d6f5-459c-8f32-245a3c0d8cdd",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "2b9d832c-84d3-460c-bd69-bf627fe14780",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "864eb71c-1155-4466-baa7-fa4ae56368bb",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "5eb0709d-b2a1-4d9e-9a4f-c307ffea1c42",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "920c6e49-5968-4ba4-869f-0195ed6d272e",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "7e2efae7-edb5-4156-813e-d6f0cb66096e",
      "key": "25df4eae-56a8-45ac-95de-5314f2921e83",
      "udi": null,
      "values": [
        {
          "alias": "contactPageContentLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "contactPageContentTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactPageContentDesc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "891543df-527f-4953-8650-f5e56d9806be",
      "key": "e3b47da2-8586-42ce-bdf6-1634d03d9277",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#FFFFFF"
          }
        }
      ]
    },
    {
      "contentTypeKey": "6b786d14-63f1-4733-9380-f5295e0017b3",
      "key": "ffdf4a98-3bf4-478d-8376-439ba420130d",
      "udi": null,
      "values": [
        {
          "alias": "contactRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial consulting\nBusiness\nTax planning"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "4c9563dc-3d38-4bdc-80a6-194ca87df1e9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ba520a7e-4b0b-4e86-9eec-283b9f777b11",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "25df4eae-56a8-45ac-95de-5314f2921e83",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4c9563dc-3d38-4bdc-80a6-194ca87df1e9",
        "contentUdi": null,
        "settingsKey": "e3b47da2-8586-42ce-bdf6-1634d03d9277",
        "settingsUdi": null
      },
      {
        "contentKey": "25df4eae-56a8-45ac-95de-5314f2921e83",
        "contentUdi": null,
        "settingsKey": "ffdf4a98-3bf4-478d-8376-439ba420130d",
        "settingsUdi": null
      },
      {
        "contentKey": "ba520a7e-4b0b-4e86-9eec-283b9f777b11",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>