<?xml version="1.0" encoding="utf-8"?>
<Content Key="c215e8ba-227a-45e4-b958-2ca46a41e18f" Alias="ContactCardEmail: kerdem@live.com - 2025-11-10 20:39:06" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ContactCardEmailKerdemLivecom20251110203906</Path>
    <Trashed Parent="cfadc795-1f85-45be-85b6-4c53e4eb31fc">true</Trashed>
    <ContentType>contactCardRequest</ContentType>
    <CreateDate>2025-11-10T20:39:06</CreateDate>
    <NodeName Default="ContactCardEmail: kerdem@live.com - 2025-11-10 20:39:06" />
    <SortOrder>7</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactCardEmailRequest>
      <Value><![CDATA[kerdem@live.com]]></Value>
    </contactCardEmailRequest>
  </Properties>
</Content>