<?xml version="1.0" encoding="utf-8"?>
<Content Key="43603797-869b-43ab-931a-4f56567aa55f" Alias="ContactCardEmail: kerdem@live.com - 2025-11-10 20:19:50" Level="2">
  <Info>
    <Parent Key="cfadc795-1f85-45be-85b6-4c53e4eb31fc">Form Submissions</Parent>
    <Path>/FormSubmissions/ContactCardEmailKerdemLivecom20251110201950</Path>
    <Trashed>false</Trashed>
    <ContentType>contactCardRequest</ContentType>
    <CreateDate>2025-11-10T20:19:50</CreateDate>
    <NodeName Default="ContactCardEmail: kerdem@live.com - 2025-11-10 20:19:50" />
    <SortOrder>19</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactCardEmailRequest>
      <Value><![CDATA[kerdem@live.com]]></Value>
    </contactCardEmailRequest>
  </Properties>
</Content>