<?xml version="1.0" encoding="utf-8"?>
<Content Key="c63aa0ea-ce5c-40cb-adb4-e762786392a9" Alias="ContactCardEmail: kerdem@domain.com - 2025-11-05 13:27:21" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/ContactCardEmailKerdemDomaincom20251105132721</Path>
    <Trashed Parent="cfadc795-1f85-45be-85b6-4c53e4eb31fc">true</Trashed>
    <ContentType>contactCardRequest</ContentType>
    <CreateDate>2025-11-05T13:27:21</CreateDate>
    <NodeName Default="ContactCardEmail: kerdem@domain.com - 2025-11-05 13:27:21" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactCardEmailRequest>
      <Value><![CDATA[kerdem@domain.com]]></Value>
    </contactCardEmailRequest>
  </Properties>
</Content>