<?xml version="1.0" encoding="utf-8"?>
<Content Key="cfadc795-1f85-45be-85b6-4c53e4eb31fc" Alias="Form Submissions" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FormSubmissions</Path>
    <Trashed>false</Trashed>
    <ContentType>fromSubmissions</ContentType>
    <CreateDate>2025-10-30T11:55:27</CreateDate>
    <NodeName Default="Form Submissions" />
    <SortOrder>2</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>