<?xml version="1.0" encoding="utf-8"?>
<Content Key="58424188-14a0-4997-a12b-624e98d6a24b" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-10-29T11:38:42</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="e930477f-fe4a-4e25-9b38-36a4e96c0abd">HomePage</Template>
  </Info>
  <Properties>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "adaa74dd-6521-4684-8747-fcfef5139bcf",
      "key": "9bf9bae7-e28b-44ab-8dba-c4cdd506e487",
      "udi": null,
      "values": [
        {
          "alias": "heroTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We bring success to you"
        },
        {
          "alias": "heroText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ELorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "heroBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7c503495-3e37-44b3-9eea-5dc05c1e6344",
              "mediaKey": "26de0dc0-51ea-4ce1-b601-fa5d473af38a",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "heroLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Contact Us",
              "target": null,
              "udi": "umb://document/705508287c6b4f49815c0701a1a3bc5f",
              "url": null,
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "713539c0-a266-4039-b1e4-98ddd0a310c2",
      "key": "f19bd721-3e36-4884-987c-cb055f1235a3",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "423ad7f5-ca64-4c1f-b73a-21d564c2a820",
      "key": "35f05da6-c16b-4a2b-bc45-9c34c4261ce3",
      "udi": null,
      "values": [
        {
          "alias": "aboutCallbackSectionBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp class=\u0022onx-quote\u0022\u003E\u201CWe have over 25 years of experience providing expert financial advice to both businesses and individuals.\u201D\u003C/p\u003E\u003Cp\u003E\u003Cspan class=\u0022onx-body\u0022\u003EDolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.\u003C/span\u003E\u003Cbr\u003E\u003Cbr\u003E\u003Cimg data-udi=\u0022umb://media/b5a70e493c614de38b638a70f481c560\u0022 src=\u0022\u0022 alt=\u0022OnlineSignatures.net-302 1.svg\u0022 width=\u0022161\u0022 height=\u002276\u0022\u003E\u003Cbr\u003E\u003C/p\u003E\u003Cp\u003E\u003Cspan class=\u0022onx-body\u0022\u003ETina Fox - CEO \u0026amp; Founder\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "aboutCallbackSectionLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "ABOUT US"
        },
        {
          "alias": "aboutCallbackSectionTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "We have 40 years experience"
        },
        {
          "alias": "aboutCallBackFormTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Request a call back"
        },
        {
          "alias": "aboutCallbackFormDesc",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat"
        }
      ]
    },
    {
      "contentTypeKey": "6d4a929c-614d-488f-ba05-d5e3e9e87750",
      "key": "e2228b8e-ee84-43ef-bb58-ca77b8b905e7",
      "udi": null,
      "values": [
        {
          "alias": "whyChooseUsBody",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center;\u0022\u003E\u003Cspan class=\u0022onx-heading-2\u0022\u003EWe are trusted by more than\u003C/span\u003E\u003Cbr\u003E\u003Cspan class=\u0022onx-heading-2\u0022 style=\u0022color: rgb(217, 195, 169);\u0022\u003E4.000\u002B clients\u003C/span\u003E\u003Cbr\u003E\u003Cbr\u003E\u003Cspan style=\u0022font-size: 16px; color: rgb(83, 86, 86); font-weight: 400;\u0022\u003ELorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.\u003C/span\u003E\u003C/p\u003E"
          }
        },
        {
          "alias": "whyChooseUsLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Read our story",
              "target": null,
              "udi": "umb://document/0167fb5aca8348b584dcd46e96a1d1ac",
              "url": null,
              "queryString": null
            }
          ]
        },
        {
          "alias": "whyChooseUsBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "12e068f7-1f0c-40d4-8b46-7ce1c0022513",
              "mediaKey": "d063ee3e-37fd-4226-82b2-54983118c25e",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0c3e6006-579b-40bf-bce7-ed5803cd9bff",
      "key": "72cfbba4-9332-4038-b09f-8d514f147d3d",
      "udi": null,
      "values": [
        {
          "alias": "successStoryLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success Stories"
        },
        {
          "alias": "successStoryTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Success story"
        },
        {
          "alias": "successStoryBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7cae9f33-7295-47f4-8f15-fa9e18d9ca86",
              "mediaKey": "aa4547f9-2c36-4386-acfe-4316995999af",
              "mediaTypeAlias": "umbracoMediaVectorGraphics",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "successStoriesList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "16771492-eccd-4a9b-a6be-527f85c0d319",
                "key": "f1353b15-6da8-406d-8e8a-c58e16b04a40",
                "udi": null,
                "values": [
                  {
                    "alias": "successStoriesUnits",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "689"
                  },
                  {
                    "alias": "successStoriesDesc",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 100 customers has been served"
                  }
                ]
              },
              {
                "contentTypeKey": "16771492-eccd-4a9b-a6be-527f85c0d319",
                "key": "86efd71d-cbc8-404f-9d2e-647e1e5e90b5",
                "udi": null,
                "values": [
                  {
                    "alias": "successStoriesUnits",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "370"
                  },
                  {
                    "alias": "successStoriesDesc",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 370 projects has been completed"
                  }
                ]
              },
              {
                "contentTypeKey": "16771492-eccd-4a9b-a6be-527f85c0d319",
                "key": "485cd568-9edb-4e59-b01c-ca5a2f59f073",
                "udi": null,
                "values": [
                  {
                    "alias": "successStoriesUnits",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "125"
                  },
                  {
                    "alias": "successStoriesDesc",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "More than 125 branches has been established in Europe and America"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "f1353b15-6da8-406d-8e8a-c58e16b04a40",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "86efd71d-cbc8-404f-9d2e-647e1e5e90b5",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "485cd568-9edb-4e59-b01c-ca5a2f59f073",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "f1353b15-6da8-406d-8e8a-c58e16b04a40",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "86efd71d-cbc8-404f-9d2e-647e1e5e90b5",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "485cd568-9edb-4e59-b01c-ca5a2f59f073",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "91c8b0c5-8af8-4f28-9109-77f4d7c533e2",
      "key": "4c2064ba-0f74-48ab-b184-437b2041689e",
      "udi": null,
      "values": [
        {
          "alias": "partnersList",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "ac5d4a13-b21d-44cf-8dd0-b51e944e2c8a",
                "key": "2a1e67a0-c8a2-4acd-a99c-fc538775128f",
                "udi": null,
                "values": [
                  {
                    "alias": "partnersImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "f432c1f6-8655-4f0c-8b62-fbed5d3dfa68",
                        "mediaKey": "3ee69632-ccf6-4456-bb18-621748a05df8",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnersAltName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Freedombird"
                  }
                ]
              },
              {
                "contentTypeKey": "ac5d4a13-b21d-44cf-8dd0-b51e944e2c8a",
                "key": "bc0e396d-a8d0-4422-afa4-3649f31e834c",
                "udi": null,
                "values": [
                  {
                    "alias": "partnersImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "0088b6b5-2c89-4a9f-b9fe-b601b5818800",
                        "mediaKey": "40d69e71-0e89-4211-9e87-312b2567a497",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnersAltName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Identity"
                  }
                ]
              },
              {
                "contentTypeKey": "ac5d4a13-b21d-44cf-8dd0-b51e944e2c8a",
                "key": "9fc97ff9-0ead-49ce-a948-f5bd1197def6",
                "udi": null,
                "values": [
                  {
                    "alias": "partnersImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "159bb669-9217-42d3-a354-0b426a32aaba",
                        "mediaKey": "0ce18238-49d2-4e5e-a62a-43f860a023ef",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnersAltName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Natural"
                  }
                ]
              },
              {
                "contentTypeKey": "ac5d4a13-b21d-44cf-8dd0-b51e944e2c8a",
                "key": "6b93c924-ede0-4d25-bc41-907990badec8",
                "udi": null,
                "values": [
                  {
                    "alias": "partnersImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "9debbcf7-c740-47ab-b680-ef7ac538bc57",
                        "mediaKey": "eab59080-4f16-4a8e-a579-43c8dd79fe89",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnersAltName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Simpleaf"
                  }
                ]
              },
              {
                "contentTypeKey": "ac5d4a13-b21d-44cf-8dd0-b51e944e2c8a",
                "key": "4444e3be-74e4-468e-ada7-7b88ea0c73c7",
                "udi": null,
                "values": [
                  {
                    "alias": "partnersImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "38915d97-e043-4a3f-9103-28dbcfc39628",
                        "mediaKey": "d749b269-c98a-47f2-a012-ee5a24af5cbd",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnersAltName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Globe"
                  }
                ]
              },
              {
                "contentTypeKey": "ac5d4a13-b21d-44cf-8dd0-b51e944e2c8a",
                "key": "7636d731-c2a0-431d-81f6-e2665373374b",
                "udi": null,
                "values": [
                  {
                    "alias": "partnersImage",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "a7cc7c07-6988-426f-b594-6f77d155ba96",
                        "mediaKey": "80b196d0-7ab0-4de2-b1bb-5e9e5937621a",
                        "mediaTypeAlias": "",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "partnersAltName",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "FossilGroup"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "2a1e67a0-c8a2-4acd-a99c-fc538775128f",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "bc0e396d-a8d0-4422-afa4-3649f31e834c",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "9fc97ff9-0ead-49ce-a948-f5bd1197def6",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "6b93c924-ede0-4d25-bc41-907990badec8",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "4444e3be-74e4-468e-ada7-7b88ea0c73c7",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "7636d731-c2a0-431d-81f6-e2665373374b",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "2a1e67a0-c8a2-4acd-a99c-fc538775128f",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "bc0e396d-a8d0-4422-afa4-3649f31e834c",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "9fc97ff9-0ead-49ce-a948-f5bd1197def6",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "6b93c924-ede0-4d25-bc41-907990badec8",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "4444e3be-74e4-468e-ada7-7b88ea0c73c7",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "7636d731-c2a0-431d-81f6-e2665373374b",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "16048456-d635-4481-b8af-003ab2178096",
      "key": "641da21e-864c-426a-94cb-ed451538489e",
      "udi": null,
      "values": [
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#F7F7F7"
          }
        },
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "a5e52a52-49a2-41e4-8b7b-89d19f9a78c1",
      "key": "c97a22f2-b20a-4576-9c77-5d4d5a4c7e79",
      "udi": null,
      "values": [
        {
          "alias": "callbackRequestOptions",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Financial consulting\nBusiness\nTax planning"
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "9bf9bae7-e28b-44ab-8dba-c4cdd506e487",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f19bd721-3e36-4884-987c-cb055f1235a3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "35f05da6-c16b-4a2b-bc45-9c34c4261ce3",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e2228b8e-ee84-43ef-bb58-ca77b8b905e7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "72cfbba4-9332-4038-b09f-8d514f147d3d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4c2064ba-0f74-48ab-b184-437b2041689e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9bf9bae7-e28b-44ab-8dba-c4cdd506e487",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "35f05da6-c16b-4a2b-bc45-9c34c4261ce3",
        "contentUdi": null,
        "settingsKey": "c97a22f2-b20a-4576-9c77-5d4d5a4c7e79",
        "settingsUdi": null
      },
      {
        "contentKey": "f19bd721-3e36-4884-987c-cb055f1235a3",
        "contentUdi": null,
        "settingsKey": "641da21e-864c-426a-94cb-ed451538489e",
        "settingsUdi": null
      },
      {
        "contentKey": "e2228b8e-ee84-43ef-bb58-ca77b8b905e7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "72cfbba4-9332-4038-b09f-8d514f147d3d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "4c2064ba-0f74-48ab-b184-437b2041689e",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>