<?xml version="1.0" encoding="utf-8"?>
<Content Key="ece3ff3f-e070-43a9-ad0c-4d3fdcf20650" Alias="QuestionForm: Erdem Kaya - 2025-11-10 20:33:13" Level="2">
  <Info>
    <Parent Key="cfadc795-1f85-45be-85b6-4c53e4eb31fc">Form Submissions</Parent>
    <Path>/FormSubmissions/QuestionFormErdemKaya20251110203313</Path>
    <Trashed>false</Trashed>
    <ContentType>questionForm</ContentType>
    <CreateDate>2025-11-10T20:33:13</CreateDate>
    <NodeName Default="QuestionForm: Erdem Kaya - 2025-11-10 20:33:13" />
    <SortOrder>22</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionEmail>
      <Value><![CDATA[kerdem@live.com]]></Value>
    </questionEmail>
    <questionMessage>
      <Value><![CDATA[test mesasögkmasföljbnökjnboavpw<]]></Value>
    </questionMessage>
    <questionName>
      <Value><![CDATA[Erdem Kaya]]></Value>
    </questionName>
  </Properties>
</Content>