<?xml version="1.0" encoding="utf-8"?>
<Content Key="c39de20f-c660-437f-9e12-afe6b74a29f8" Alias="QuestionForm: Erdem Kaya - 2025-11-10 20:05:23" Level="2">
  <Info>
    <Parent Key="cfadc795-1f85-45be-85b6-4c53e4eb31fc">Form Submissions</Parent>
    <Path>/FormSubmissions/QuestionFormErdemKaya20251110200523</Path>
    <Trashed>false</Trashed>
    <ContentType>questionForm</ContentType>
    <CreateDate>2025-11-10T20:05:23</CreateDate>
    <NodeName Default="QuestionForm: Erdem Kaya - 2025-11-10 20:05:23" />
    <SortOrder>16</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionEmail>
      <Value><![CDATA[kerdem@live.com]]></Value>
    </questionEmail>
    <questionMessage>
      <Value><![CDATA[Message test!]]></Value>
    </questionMessage>
    <questionName>
      <Value><![CDATA[Erdem Kaya]]></Value>
    </questionName>
  </Properties>
</Content>