<?xml version="1.0" encoding="utf-8"?>
<Content Key="774aa0f2-3b4e-4682-a383-3435194332d8" Alias="QuestionForm: Erdem Kaya - 2025-11-10 20:39:19" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/QuestionFormErdemKaya20251110203919</Path>
    <Trashed Parent="cfadc795-1f85-45be-85b6-4c53e4eb31fc">true</Trashed>
    <ContentType>questionForm</ContentType>
    <CreateDate>2025-11-10T20:39:19</CreateDate>
    <NodeName Default="QuestionForm: Erdem Kaya - 2025-11-10 20:39:19" />
    <SortOrder>6</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <questionEmail>
      <Value><![CDATA[kerdem@live.com]]></Value>
    </questionEmail>
    <questionMessage>
      <Value><![CDATA[test]]></Value>
    </questionMessage>
    <questionName>
      <Value><![CDATA[Erdem Kaya]]></Value>
    </questionName>
  </Properties>
</Content>