<?xml version="1.0" encoding="utf-8"?>
<Content Key="8b41ef69-bbba-4017-864e-d946c02f0985" Alias="Services" Level="2">
  <Info>
    <Parent Key="58424188-14a0-4997-a12b-624e98d6a24b">Home Page</Parent>
    <Path>/HomePage/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-10-29T14:13:12</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d905409f-28da-4fb4-a73c-1e7255ac070b">ServicePage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
    <sections>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "713539c0-a266-4039-b1e4-98ddd0a310c2",
      "key": "38a29ff4-d2ce-4011-813f-50cef5360a53",
      "udi": null,
      "values": [
        {
          "alias": "serviceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Our Services"
        },
        {
          "alias": "serviceTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Ch3 style=\u0022text-align: center;\u0022\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003EWe Provide The Solutions \u003C/span\u003E\u003Cbr\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003ETo Grow Your Business Faster\u003C/span\u003E\u003C/h3\u003E\u003Cp\u003E\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "3cf75ec2-233d-4450-803f-0a5d94ff2575",
      "key": "1156d221-087a-40cd-a1e1-4bbfa7d09850",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Let us know about your next project"
        },
        {
          "alias": "contactInfoBgImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "fdc2d114-b4c6-418d-beac-440832036929",
              "mediaKey": "bafb1d2d-a942-4eda-99c2-e0dd7ea90d7a",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "16048456-d635-4481-b8af-003ab2178096",
      "key": "796ba9d8-b08d-444b-b815-4503f60a990d",
      "udi": null,
      "values": [
        {
          "alias": "showServiceLabel",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "serviceBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White",
            "value": "#FFFFFF"
          }
        }
      ]
    },
    {
      "contentTypeKey": "891543df-527f-4953-8650-f5e56d9806be",
      "key": "939b3c22-aa3a-439e-8e8a-3b2d87aaaee6",
      "udi": null,
      "values": [
        {
          "alias": "contactInfoBgColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "White-100",
            "value": "#F7F7F7"
          }
        }
      ]
    }
  ],
  "expose": [
    {
      "contentKey": "38a29ff4-d2ce-4011-813f-50cef5360a53",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1156d221-087a-40cd-a1e1-4bbfa7d09850",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "38a29ff4-d2ce-4011-813f-50cef5360a53",
        "contentUdi": null,
        "settingsKey": "796ba9d8-b08d-444b-b815-4503f60a990d",
        "settingsUdi": null
      },
      {
        "contentKey": "1156d221-087a-40cd-a1e1-4bbfa7d09850",
        "contentUdi": null,
        "settingsKey": "939b3c22-aa3a-439e-8e8a-3b2d87aaaee6",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </sections>
  </Properties>
</Content>