<?xml version="1.0" encoding="utf-8"?>
<Content Key="e1d13ca9-b919-4cf3-8635-4b8d6f9bcf5a" Alias="Site Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SiteSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>siteSettings</ContentType>
    <CreateDate>2025-10-29T12:59:14</CreateDate>
    <NodeName Default="Site Settings" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <contactAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactAddress>
    <contactEmail>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactEmail>
    <contactPhone>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactPhone>
    <footerText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u003Cspan style=\u0022white-space: pre-wrap;\u0022\u003E\u00A9 Onatrix. All Rights Reserved. Credits to \u003C/span\u003E\u003Cspan style=\u0022color: rgb(217, 195, 169);\u0022\u003EThemesflat\u003C/span\u003E\u003C/p\u003E"
}]]></Value>
    </footerText>
    <platformList>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "b725d49e-77e7-4e50-bdc4-ffbd59e5376d",
      "key": "f0d36308-83aa-4074-8136-0d5b84501b4d",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Facebook"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.facebook.com"
        }
      ]
    },
    {
      "contentTypeKey": "b725d49e-77e7-4e50-bdc4-ffbd59e5376d",
      "key": "eb81fad7-a684-44ad-b7dc-82bafec26f49",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "X"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.x.com"
        }
      ]
    },
    {
      "contentTypeKey": "b725d49e-77e7-4e50-bdc4-ffbd59e5376d",
      "key": "b937079a-df29-48e5-bbe4-d73a9d9ca8f7",
      "udi": null,
      "values": [
        {
          "alias": "platformName",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            "Linkedin"
          ]
        },
        {
          "alias": "platformAccountUrl",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "https://www.linkedin.com"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f0d36308-83aa-4074-8136-0d5b84501b4d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "eb81fad7-a684-44ad-b7dc-82bafec26f49",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b937079a-df29-48e5-bbe4-d73a9d9ca8f7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f0d36308-83aa-4074-8136-0d5b84501b4d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "eb81fad7-a684-44ad-b7dc-82bafec26f49",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b937079a-df29-48e5-bbe4-d73a9d9ca8f7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </platformList>
    <siteLogo>
      <Value><![CDATA[[
  {
    "key": "fd4b6267-d3bb-48bd-b86f-a87d77813154",
    "mediaKey": "17782d1e-c0da-4769-a619-e8514ca463db",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogo>
    <siteName>
      <Value><![CDATA[Onatrix]]></Value>
    </siteName>
  </Properties>
</Content>