@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{

	Layout = null;

	/* Get the root content and site settings */
	var rootContent = Umbraco.ContentAtRoot();
	/* Get the site settings */
	var siteSettings = rootContent.OfType<SiteSettings>().FirstOrDefault();

	var siteName = siteSettings?.SiteName ?? "Onatrix";
	var pageTitle = Model.Level == 1 ? $"{siteName}" : $"{siteName} | {Model.Name}";
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, inital-scale=1.0">
	<title>@pageTitle</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="~/css/main.css" rel="stylesheet" asp-append-version="true">
	<link rel="stylesheet" href="~/css/responsive.css" rel="stylesheet" asp-append-version="true">
</head>
<body>
	<partial name="Partials/Layout/_Topbar" />
	@RenderBody()
	<script src="~/js/main.js" asp-append-version="true"></script>
</body>

</html>