<?xml version="1.0" encoding="utf-8"?>
<Media Key="93c6bd4a-3595-4fd1-9e30-98547d089442" Alias="Aaron Lambert.svg" Level="2">
  <Info>
    <Parent Key="81574b4c-fd48-4243-9671-7dee4de26685">Team-Member</Parent>
    <Path>/TeamMember/AaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T15:22:52</CreateDate>
    <NodeName Default="Aaron Lambert.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xaagi2mo/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>