<?xml version="1.0" encoding="utf-8"?>
<Media Key="8bcd1c3c-5747-4940-a947-decd86b57c63" Alias="AJ Carter.svg" Level="2">
  <Info>
    <Parent Key="81574b4c-fd48-4243-9671-7dee4de26685">Team-Member</Parent>
    <Path>/TeamMember/AJCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T15:22:52</CreateDate>
    <NodeName Default="AJ Carter.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z0qh40k2/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>