<?xml version="1.0" encoding="utf-8"?>
<Media Key="5fbb6bda-eb68-4e18-818f-22d91ddda61a" Alias="assurance-audits.svg" Level="2">
  <Info>
    <Parent Key="3a0411f1-f7a3-4920-a8a8-1d95f0432c8d">Services-Thumbnails</Parent>
    <Path>/ServicesThumbnails/assuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T14:15:08</CreateDate>
    <NodeName Default="assurance-audits.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fdlbtplt/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>