<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c4bb7f3-e634-405e-b461-20080f1df752" Alias="bonds-commodities.svg" Level="2">
  <Info>
    <Parent Key="3a0411f1-f7a3-4920-a8a8-1d95f0432c8d">Services-Thumbnails</Parent>
    <Path>/ServicesThumbnails/bondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T14:15:08</CreateDate>
    <NodeName Default="bonds-commodities.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aefos1rp/bonds-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>