<?xml version="1.0" encoding="utf-8"?>
<Media Key="17782d1e-c0da-4769-a619-e8514ca463db" Alias="Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Brandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T12:58:18</CreateDate>
    <NodeName Default="Brand.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3sinv3ob/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>