<?xml version="1.0" encoding="utf-8"?>
<Media Key="bafb1d2d-a942-4eda-99c2-e0dd7ea90d7a" Alias="contact-info-person.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/contactInfoPersonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T08:43:53</CreateDate>
    <NodeName Default="contact-info-person.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/14qfswcz/contact-info-person.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>