<?xml version="1.0" encoding="utf-8"?>
<Media Key="4fbb0cb2-bc62-4d0e-b145-1f7fc59fcbd6" Alias="financial-advisor.svg" Level="2">
  <Info>
    <Parent Key="3a0411f1-f7a3-4920-a8a8-1d95f0432c8d">Services-Thumbnails</Parent>
    <Path>/ServicesThumbnails/financialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T14:15:08</CreateDate>
    <NodeName Default="financial-advisor.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/icybtllz/financial-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>