<?xml version="1.0" encoding="utf-8"?>
<Media Key="3ee69632-ccf6-4456-bb18-621748a05df8" Alias="Freedombird.svg" Level="2">
  <Info>
    <Parent Key="52f11722-7e36-44d9-a883-f0a5d5e18b53">Partners</Parent>
    <Path>/Partners/Freedombirdsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T23:50:24</CreateDate>
    <NodeName Default="Freedombird.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yavfjxhn/freedombird.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>