<?xml version="1.0" encoding="utf-8"?>
<Media Key="40d69e71-0e89-4211-9e87-312b2567a497" Alias="Identity.svg" Level="2">
  <Info>
    <Parent Key="52f11722-7e36-44d9-a883-f0a5d5e18b53">Partners</Parent>
    <Path>/Partners/Identitysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T23:50:24</CreateDate>
    <NodeName Default="Identity.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qmrhjius/identity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>