<?xml version="1.0" encoding="utf-8"?>
<Media Key="edb67531-54d3-4cb2-bace-9c3f208c4377" Alias="img_choose_01_home01 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img_choose_01_home011svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-02T20:51:07</CreateDate>
    <NodeName Default="img_choose_01_home01 1.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ypebid4i/img_choose_01_home01-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>