<?xml version="1.0" encoding="utf-8"?>
<Media Key="70aaa4c5-4c87-4ae2-8497-7c192a59c017" Alias="kevin-gardne_reviews.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardne_reviewssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T09:25:32</CreateDate>
    <NodeName Default="kevin-gardne_reviews.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/g2mbreu2/kevin-gardne_reviews.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>