<?xml version="1.0" encoding="utf-8"?>
<Media Key="f105526f-7d38-4da4-bf73-0c6ee23c58b5" Alias="Kevin-Gardner.svg" Level="2">
  <Info>
    <Parent Key="81574b4c-fd48-4243-9671-7dee4de26685">Team-Member</Parent>
    <Path>/TeamMember/KevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T15:22:53</CreateDate>
    <NodeName Default="Kevin-Gardner.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/txxloezd/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>