<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d723f03-aedc-4bda-a7ae-b1b46d3f219b" Alias="output_4.png" Level="2">
  <Info>
    <Parent Key="3a0411f1-f7a3-4920-a8a8-1d95f0432c8d">Services-Thumbnails</Parent>
    <Path>/ServicesThumbnails/output_4png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T20:16:34</CreateDate>
    <NodeName Default="output_4.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/rt0dik3v/output_4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>