<?xml version="1.0" encoding="utf-8"?>
<Media Key="53cc03ba-207e-4ae7-a4e1-85d8f05d0d87" Alias="output_2.png" Level="2">
  <Info>
    <Parent Key="3a0411f1-f7a3-4920-a8a8-1d95f0432c8d">Services-Thumbnails</Parent>
    <Path>/ServicesThumbnails/output_2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-11-04T20:16:34</CreateDate>
    <NodeName Default="output_2.png" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gxejvzix/output_2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>