<?xml version="1.0" encoding="utf-8"?>
<Media Key="52f11722-7e36-44d9-a883-f0a5d5e18b53" Alias="Partners" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Partners</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-30T23:50:07</CreateDate>
    <NodeName Default="Partners" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>