<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1be9424-68da-41ba-bcd9-15bd0ef70239" Alias="post2 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/post21svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-31T15:25:53</CreateDate>
    <NodeName Default="post2 1.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0yubye4b/post2-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>