<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf24db35-e2ed-4f21-ae85-43a71b4789ea" Alias="Rating.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ratingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-11-03T08:47:25</CreateDate>
    <NodeName Default="Rating.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y3timlpw/rating.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>