<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc4297ac-8918-4ae6-8029-c649ce4af737" Alias="risk-management.svg" Level="2">
  <Info>
    <Parent Key="3a0411f1-f7a3-4920-a8a8-1d95f0432c8d">Services-Thumbnails</Parent>
    <Path>/ServicesThumbnails/riskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T14:15:08</CreateDate>
    <NodeName Default="risk-management.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lyvoapqd/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>