<?xml version="1.0" encoding="utf-8"?>
<Media Key="eab59080-4f16-4a8e-a579-43c8dd79fe89" Alias="Simpleaf.svg" Level="2">
  <Info>
    <Parent Key="52f11722-7e36-44d9-a883-f0a5d5e18b53">Partners</Parent>
    <Path>/Partners/Simpleafsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T23:50:24</CreateDate>
    <NodeName Default="Simpleaf.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/oiwbocan/simpleaf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>