<?xml version="1.0" encoding="utf-8"?>
<Media Key="b58ed2d2-b469-471e-bd25-c1f222cd97b0" Alias="statistc-advisors.svg" Level="2">
  <Info>
    <Parent Key="3a0411f1-f7a3-4920-a8a8-1d95f0432c8d">Services-Thumbnails</Parent>
    <Path>/ServicesThumbnails/statistcAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T14:15:08</CreateDate>
    <NodeName Default="statistc-advisors.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ebxdyv1s/statistc-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>