<?xml version="1.0" encoding="utf-8"?>
<Media Key="19e9648b-7281-4bcf-bcb6-3c41081ae59a" Alias="tax-trusts.svg" Level="2">
  <Info>
    <Parent Key="3a0411f1-f7a3-4920-a8a8-1d95f0432c8d">Services-Thumbnails</Parent>
    <Path>/ServicesThumbnails/taxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-29T14:15:08</CreateDate>
    <NodeName Default="tax-trusts.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/phmfx420/tax-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>