<?xml version="1.0" encoding="utf-8"?>
<Media Key="81574b4c-fd48-4243-9671-7dee4de26685" Alias="Team-Member" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/TeamMember</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-10-29T15:22:42</CreateDate>
    <NodeName Default="Team-Member" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>