<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa4547f9-2c36-4386-acfe-4316995999af" Alias="Video.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Videosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T22:16:22</CreateDate>
    <NodeName Default="Video.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bp3oosbn/video.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>