<?xml version="1.0" encoding="utf-8"?>
<Media Key="d063ee3e-37fd-4226-82b2-54983118c25e" Alias="why-choose-us.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/whyChooseUssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-10-30T14:42:15</CreateDate>
    <NodeName Default="why-choose-us.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zrjncmxg/why-choose-us.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>